<div class="header_Img_For_Home">
  <div class="p-4 p-md-5 rounded text-body-emphasis" style="display: flex; flex-direction: column; height: 100vh;">
    <div class="col-md-8 m-auto" style="display: flex; flex-direction: column; justify-content: flex-end;">
      <form class="d-flex flex-column mt-5" role="search" style="width: 100%;">
        <input class="form-control mb-2" type="search" placeholder="Search for your desired location.." aria-label="Search" style="border-radius: 30px;" (dblclick)="Search($event)">
        <i class="fas fa-search"></i>
      </form>
    </div>
  </div>
</div>

<div class="card-body bodyColor mt-2">
  <div class="wrapper">
    <div class="photobanner">
      <div class="slidercard" *ngFor="let place of allLocationList">
        <img src="./assets/{{place.picture}}" alt="" routerLink="/DestinationDetail/{{place.id}}"v/>
        <h4 class=" fst-italic">{{place.locationName}}</h4>
        <p class="fst-italic">{{place.description}}</p>
      </div>
    </div>
  </div>
  <hr>
  
  
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        "Unlock the World: Your Gateway to Four Enchanting Destinations"
      </h3>

      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Explore, Learn, and Embark on Your Next Adventure</h2>
        <hr>
        <p>Welcome to Tripify, your go-to destination for in-depth educational resources on four breathtaking
          destinations around the globe. Whether you're an avid traveler seeking inspiration for your next journey or
          a curious learner eager to delve into the rich cultures and histories of these remarkable places, Tripify is
          here to guide you every step of the way.</p>
        <hr>
        <p>Discover Four Destinations Like Never Before: Embark on a virtual voyage to explore our meticulously
          curated selection of four captivating destinations. From the bustling streets of Tokyo to the ancient
          wonders of Machu Picchu, each destination page is brimming with fascinating insights, insider tips, and
          captivating visuals to ignite your wanderlust and deepen your understanding of these unique locales.</p>
        <h2>Empowering Travelers Through Knowledge</h2>
        <p>At Tripify, we believe that knowledge is the key to unlocking unforgettable travel experiences. That's why
          our team of seasoned travel enthusiasts and cultural experts has meticulously researched and compiled a
          wealth of information to empower you on your journey. Whether you're planning your itinerary, seeking hidden
          gems off the beaten path, or simply craving a virtual escape, Tripify is your passport to adventure.</p>
        <blockquote class="blockquote">
          <p>Stay Connected, Stay Informed</p>
        </blockquote>
        <p>Join our vibrant community of travelers and learners from around the globe as we embark on a journey of
          discovery together. Follow us on social media, sign up for our newsletter, and stay up-to-date with the
          latest articles, insights, and travel tips from Tripify. Because no matter where your travels take you, the
          adventure begins here.</p>
        <h3>Start Your Journey Today</h3>
        <p>Ready to embark on your next adventure? Dive into the captivating world of Tripify and let your imagination
          soar. Whether you're dreaming of cherry blossoms in Kyoto or exploring the ruins of Petra, your journey
          starts here. Welcome to Tripify—where education meets exploration, and every destination is a gateway to
          discovery.</p>
      </article>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers,
            content, or something else entirely. Totally up to you.</p>
        </div>

        <div>
          <h4 class="fst-italic">Recent posts</h4>
          <ul class="list-unstyled">
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="#">
                <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <rect width="100%" height="100%" fill="#777"></rect>
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">Example blog post title</h6>
                  <small class="text-body-secondary">January 15, 2024</small>
                </div>
              </a>
            </li>
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="#">
                <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <rect width="100%" height="100%" fill="#777"></rect>
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">This is another blog post title</h6>
                  <small class="text-body-secondary">January 14, 2024</small>
                </div>
              </a>
            </li>
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="#">
                <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <rect width="100%" height="100%" fill="#777"></rect>
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
                  <small class="text-body-secondary">January 13, 2024</small>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="row mx-2" *ngFor="let item of allLocationList; let i = index" [hidden]="i % 2 !== 0" >
    <div class="col-md-6" *ngIf="allLocationList[i]">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: white; max-height: 200px;">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">{{i + 1}} #</strong>
          <h3 class="mb-0">{{allLocationList[i].locationName}}</h3>
          <div class="mb-1 text-body-secondary">{{allLocationList[i].stateName}}</div>
          <p class="card-text mb-auto">{{allLocationList[i].description}}</p>
          <a class="icon-link gap-1 icon-link-hover stretched-link" routerLink="/DestinationDetail/{{allLocationList[i].id}}">
            view plan
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="./assets/{{allLocationList[i].picture}}" height="200px" width="250px" alt="" />
        </div>
      </div>
    </div>
  
    <div class="col-md-6" *ngIf="allLocationList[i + 1]">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: white; max-height: 200px;">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">{{i + 2}} #</strong>
          <h3 class="mb-0">{{allLocationList[i + 1].locationName}}</h3>
          <div class="mb-1 text-body-secondary">{{allLocationList[i + 1].stateName}}</div>
          <p class="card-text mb-auto">{{allLocationList[i + 1].description}}</p>
          <a class="icon-link gap-1 icon-link-hover stretched-link" routerLink="/DestinationDetail/{{allLocationList[i + 1].id}}">
            view plan
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="./assets/{{allLocationList[i + 1].picture}}" height="200px" width="250px" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="col-lg-4 px-0">
          <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/Image1.jpg"
                  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700"
                  height="500" alt="...">
              </div>
              <div class="carousel-item">
                <img
                  src="https://images.unsplash.com/photo-1587474260584-136574528ed5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGVsaGl8ZW58MHx8MHx8fDA%3D"
                  class="" alt="...">
              </div>
              <div class="carousel-item">
                <img
                  src="https://images.unsplash.com/photo-1567157577867-05ccb1388e66?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8TXVtYmFpfGVufDB8fDB8fHww"
                  class="" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div> -->

           <!-- <div class="col-lg-7 custom-card px-0">
          <h1 class="text-white text-center" >Where ??</h1>
          <h1 class="text-white text-center">Welcome to Tripify</h1>
          <h5 class="fst-italic text-center text-white">Your Ultimate Guide to Four Spectacular Destinations</h5>
        </div> -->
