<div class="p-4 p-md-5 rounded text-body-emphasis header_Img_For_All">
  <div class="col-md-12 ">
    <div class="row">
      <div class="col-lg-12 text-center custom-card px-0">
        <h1 class="text-white">Loaction Detail </h1>
        <h3 class="text-white fst-italic">This page will provide you all the detail of you selected location</h3>
      </div>
    </div>
  </div>
</div>
<!-- src/app/image.component.html -->
<div class="card" *ngIf="resultitems">
  <div class="card-header" *ngFor="let item of resultitems">
    <img [src]="item.images_results?.thumbnail" alt="Image" class="card-img">
  </div>
</div>

<div class="row d-flex flex-row card mt-2" *ngIf="location">
  <div class="col-md-5">
    <img
    src="./assets/{{location.picture}}"
      class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Your Image" width="600"
      height="500">
  </div>

  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">{{location.locationName}}
    </h2>
    <p class="text-body-secondary"> {{location.description}}</p><br>
    <div class="">
      Plans
    </div>
    <div class="row text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Basic</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Standard</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Premium</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="lead">
</p>

<router-outlet></router-outlet>
