<div class="p-4 p-md-5 rounded text-body-emphasis header_Img_For_All">
  <div class="col-md-12 ">
    <div class="row">
      <div class="col-lg-12 text-center custom-card px-0">
        <h1 class="text-white">About Us </h1>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
    <!-- <h1 class="pb-4 mb-4 fst-italic border-bottom text-center">
      About Us !!!!!!
    </h1> -->
    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1 text-center">Welcome to Tripify: Your Gateway to Four Vibrant Indian Destinations</h2>
      <hr>
      <h3>Embark on a Journey Through India's Cultural Kaleidoscope</h3>
      <hr>
      <p>Tripify invites you to explore the diversity and charm of four iconic Indian cities: Lucknow, Delhi, Mumbai, and Bangalore. Each destination offers a unique blend of history, culture, cuisine, and modernity, promising unforgettable experiences for every traveler.</p>
      <hr>
      <h2>Discover the Heart of Lucknow</h2>
      <p>Step into the enchanting world of Lucknow, the "City of Nawabs," where regal splendor meets timeless elegance. Immerse yourself in the grandeur of Bara Imambara, savor the flavors of Awadhi cuisine, and lose yourself in the mesmerizing rhythms of Kathak.</p>
      <hr>
      <h2>Uncover the Rich Tapestry of Delhi</h2>
      <p>Delve into the dynamic capital city of India, where ancient monuments stand tall alongside bustling markets and vibrant street life. From the majestic Red Fort to the bustling lanes of Chandni Chowk, Delhi is a melting pot of history, culture, and diversity.</p>
      <hr>
      <h2>Experience the Magic of Mumbai</h2>
      <p>Welcome to the city of dreams, where Bollywood meets business, and tradition blends seamlessly with modernity. Explore the iconic landmarks of Mumbai, from the Gateway of India to the vibrant markets of Colaba Causeway, and soak in the electrifying energy of India's financial capital.</p>
      <hr>
      <h2>Immerse Yourself in the Spirit of Bangalore</h2>
      <p>Discover the Silicon Valley of India, where innovation thrives amidst lush greenery and serene lakes. Explore the vibrant neighborhoods of Bangalore, from the historic temples of Basavanagudi to the bustling streets of MG Road, and experience the city's dynamic cultural scene.</p>
    </article>
  </div>
