<nav class="navbar navbar-expand-lg Navcolor" >
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#"><h1>Trippify</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="HomePage">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="DestinationPage">Our Destinations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="ContactPage">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="FrontPageBlog">Blog</a></li>
              <li><a class="dropdown-item" routerLink="AboutPage">About Our Website</a></li>
              <li><a class="dropdown-item" routerLink="HotelBooking">Hotel Booking</a></li>
              <li><a class="dropdown-item " routerLink="DesinationList">Destination List</a></li>


              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-secondary" routerLink="LoginUser">Login</button>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
